In [5]:
import pandas as pd
import numpy as np

# Selection by label

# Selection by position

# Selection by callable

# Selecting random samples

# The where() Method and Masking

In [31]:
s = pd.Series([1,3,4,2])
s

0    1
1    3
2    4
3    2
dtype: int64

In [32]:
s.where(s>2)

0    NaN
1    3.0
2    4.0
3    NaN
dtype: float64

In [33]:
s

0    1
1    3
2    4
3    2
dtype: int64

In [34]:
s.where(s>2, inplace=True)

In [35]:
s

0    NaN
1    3.0
2    4.0
3    NaN
dtype: float64

# The query() Method

In [26]:
"""
DataFrame objects have a query() method that allows selection using an expression.
 QUERY: column b has values between the values of columns a and c.
"""
df = pd.DataFrame(np.random.rand(10, 3), columns=list('abc'))
df

          a         b         c
0  0.326218  0.986704  0.246333
1  0.596470  0.547622  0.563671
2  0.722644  0.359054  0.741875
3  0.226284  0.677142  0.115576
4  0.276313  0.280734  0.544419
5  0.103335  0.201957  0.279095
6  0.511560  0.181228  0.594603
7  0.235317  0.121085  0.564810
8  0.254049  0.592868  0.163341
9  0.751442  0.570792  0.067916

In [28]:
#usando python puro
df[(df.a < df.b) & (df.b < df.c)]

          a         b         c
4  0.276313  0.280734  0.544419
5  0.103335  0.201957  0.279095

In [29]:
#usando método query
df.query('(a < b) & (b < c)')

          a         b         c
4  0.276313  0.280734  0.544419
5  0.103335  0.201957  0.279095

# Dictionary-like get() method

In [24]:
"""
RETORNA A COLUNA DO DATAFRAME OU LINHA DO SERIES, DE ACORDO COM O PARÂMETRO DO GET
"""
df = pd.DataFrame([[1, 2, 3],[4,5,6]], columns=['a', 'b', 'c'])
df

   a  b  c
0  1  2  3
1  4  5  6

In [14]:
 df.get('a')

0    1
1    4
Name: a, dtype: int64

In [23]:
s = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
s

a    1
b    2
c    3
dtype: int64

In [20]:
s.get('a')

1

# The lookup() method

In [8]:
"""
Sometimes you want to extract a set of values given a sequence of row labels and column labels, 
and the lookup method allows for this and returns a NumPy array. For instance:
RETORNA A(S) CÉLULA(S) DA(S) LINHA(S) E A COLUNA(S)
"""
dflookup = pd.DataFrame(np.random.rand(20, 4), columns = ['A', 'B', 'C', 'D'])
dflookup

           A         B         C         D         E
0   0.863917  0.954134  0.618245  0.916686  0.627265
1   0.377429  0.333628  0.994350  0.803011  0.822873
2   0.654830  0.080741  0.926005  0.878864  0.189218
3   0.976388  0.447295  0.224009  0.010207  0.855615
4   0.798454  0.799643  0.447589  0.463245  0.034376
5   0.175657  0.521208  0.317849  0.108746  0.535439
6   0.573703  0.185128  0.719250  0.094062  0.182594
7   0.803305  0.963443  0.066689  0.011037  0.448288
8   0.134820  0.597653  0.522704  0.150274  0.220299
9   0.103364  0.042185  0.376426  0.612384  0.103959
10  0.745737  0.969899  0.329896  0.964083  0.979932
11  0.130722  0.166383  0.447403  0.159627  0.794070
12  0.326528  0.797923  0.686925  0.781751  0.726894
13  0.211532  0.294356  0.907914  0.699251  0.522299
14  0.151884  0.157196  0.898331  0.762646  0.271540
15  0.336910  0.106283  0.835810  0.504057  0.253696
16  0.027205  0.204730  0.473345  0.299273  0.876133
17  0.296720  0.488677  0.490613  0.901831  0.280367
18  0.576096  0.556647  0.323275  0.288764  0.266925
19  0.400992  0.519152  0.813881  0.559788  0.558714

In [9]:
filtro = list(range(0, 10, 2))
print(filtro)

[0, 2, 4, 6, 8]

In [10]:
dflookup.lookup(list(range(0, 10, 2)), ['B', 'C', 'A', 'B', 'D'])

array([0.95413396, 0.92600484, 0.79845357, 0.18512762, 0.15027444])